<strong>Complemento</strong>
<div class="row margen" [formGroup]="formulario">    
    <div class="col-lg-12 col-md-12">
        <ng-select [items]="Complementos" bindLabel="nombre" [compareWith]="comparador" class="fontSize11" formControlName="complemento"></ng-select>
    </div>
</div>