<div class="modal-header">
    <fa-icon [icon]="['fas', 'list']" style="margin: auto 5px auto 0px;"></fa-icon>
    <span class="header" style="margin: auto 0px;">Captura de Direcci&oacute;n</span>
    <button type="button" class="btn btn-sm btn-outline-default" ngbTooltip="Ayuda" (click)="onToggleAyuda()">
        <fa-icon [icon]="['fas', 'exclamation']" size="2x" style="color: #17a2b8;">(!)</fa-icon>
    </button>
    <span class="spacer"></span>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <runt-direccion-estandar-ayuda [formulario]="formulario" *ngIf="ayuda"></runt-direccion-estandar-ayuda>
    <runt-direccion-estandar [formulario]="formulario"></runt-direccion-estandar>
  </div>
  <div class="modal-footer" *ngIf="formulario.enabled">
    <button type="button" class="btn btn-success" (click)="onValidar()" [disabled]="!formulario.valid">Validar</button>
    <button type="button" class="btn btn-warning" (click)="onCerrar()">Cancelar</button>
    <button type="button" class="btn btn-info" (click)="onLimpiar()">Limpiar</button>
  </div>