<div class="card bg-light">
    <div class="card-body">

        <p>Tener en cuenta la siguiente Informaci&oacute;n para el correcto diligenciamiento de una direcci&oacute;n en
            este
            mi&oacute;dulo:</p>
        <ul>
            <li>
                <span>Diligencie la direcci&oacute;n teniendo en cuenta los diferentes elementos que apliquen a su
                    direcci&oacute;n, por ejemplo:</span>
                <ul style="list-style-type: none">
                    <li>
                        <span>Si su direcci&oacute;n fuese <span class="btn btn-sm"
                                [ngClass]="{'btn-outline-info': !ejemploUnoActivo, 'btn-info': ejemploUnoActivo}"
                                (click)="onEjemploUno()">Calle 25 No. 32a sur – 58 Barrio ejemplo</span> entonces
                            los campos a
                            diligenciar en su orden ser&iacute;an:</span>
                    </li>
                    <li>
                        <span>En el siguiente ejemplo tendr&iacute;amos <span class="btn btn-sm"
                                [ngClass]="{'btn-outline-info': !ejemploDosActivo, 'btn-info': ejemploDosActivo}"
                                (click)="onEjemploDos()">Calle 25A bis sur No. 32a – 58 Barrio ejemplo Conjunto
                                residencial one Interior 1 Apto 502</span>
                        </span>
                    </li>
                </ul>
            </li>
            <li>
                Tambi&eacute;n debe tener en cuenta que no hay campos para el ingreso o uso de la palabra
                “n&uacute;mero” o
                cualquiera de sus
                abreviaturas (No. NUM. N. NO. #).
            </li>
            <li>Tampoco el separador de n&uacute;mero de placa. (Guion), Tilde o signos de puntuaci&oacute;n</li>
            <li>
                En los nombres propios de v&iacute;as, barrios o urbanizaciones NO se tendr&aacute; en cuenta el uso de
                abreviaturas
            </li>
            <li>
                Hay casos de direcciones, que no necesariamente debe contener cada uno de los elementos posibles, como
                por
                ejemplo no todas las v&iacute;as poseen el prefijo bis o no todas las v&iacute;as deben tener
                expl&iacute;citamente el cuadrante (norte, sur, este, oeste); estos elementos el sistema los
                reemplazar&aacute;
                marcando “NA”, s&oacute;lo y &uacute;nicamente en el caso que la direcci&oacute;n no contemple esta
                informaci&oacute;n y una vez se haya seleccionado la opci&oacute;n Estandarizar.
            </li>
            <li>
                Si ning&uacute;n elemento de la direcci&oacute;n contempla la direcci&oacute;n a ingresar, podr&aacute;
                ingresarla en el campo Observaciones; el sistema validar&aacute; y estandarizar&aacute; la
                informaci&oacute;n
                ingresada, la cual debe cumplir con las definiciones descritas en los &iacute;tems anteriores”
            </li>
        </ul>
    </div>
    <div class="card-footer text-center" *ngIf="formulario.disabled">
        <button class="btn btn-info" (click)="onRestablecer()">Restablecer</button>
    </div>
</div>