<div class="row">
  <direccion-estandar-via-principal class="col-lg-12 col-md-12" [formulario]="formulario.ViaPrincipal">
  </direccion-estandar-via-principal>
</div>
<div class="row">
  <direccion-estandar-via-generadora class="col-lg-12 col-md-12" [formulario]="formulario.ViaGeneradora">
  </direccion-estandar-via-generadora>
</div>
<div class="row">
  <direccion-estandar-barrio class="col-lg-12 col-md-12" [formulario]="formulario.Barrio"></direccion-estandar-barrio>
  <direccion-estandar-urbanizacion class="col-lg-12 col-md-12" [formulario]="formulario.Urbanizacion">
  </direccion-estandar-urbanizacion>
  <direccion-estandar-manzana class="col-lg-12 col-md-12" [formulario]="formulario.Manzana"></direccion-estandar-manzana>
  <direccion-estandar-predio class="col-lg-12 col-md-12" [formulario]="formulario.Predio"></direccion-estandar-predio>
</div>
<div class="row">
  <direccion-estandar-complemento class="col-lg-6 col-md-6" [formulario]="formulario"></direccion-estandar-complemento>
</div>

<div *ngIf="formulario.enabled">
  <strong>Observaciones</strong>
  <div class="row margen" [formGroup]="formulario">
    <div class="col-lg-12 col-md-12 form-group">
      <textarea class="form-control" formControlName="observaciones" maxlength="100"></textarea>
    </div>
  </div>
</div>

<div class="row margen" *ngIf="formulario.enabled">
  <div class="col-lg-6 col-md-6 form-group">
    <strong>Direcci&oacute;n Diligenciada</strong>
    <input class="form-control" [value]="formulario.diligenciada" readonly/>
  </div>

  <div class="col-lg-6 col-md-6 form-group">
    <strong>Direcci&oacute;n Estandarizada</strong>
    <input class="form-control" [value]="formulario.estandarizada" readonly/>
  </div>
</div>