<strong>Manzana &oacute; Interior</strong>
<div class="row bordered margen" [formGroup]="formulario">    
    <div class="col-lg-3 col-md-3 form-group">
        <label>Elemento</label>
        <ng-select [items]="Manzanas" bindLabel="nombre" [compareWith]="comparador" class="fontSize11" formControlName="tipo"></ng-select>
    </div>
    <div class="col-lg-9 col-md-9 form-group">
        <label>Nombre &oacute; identificaci&oacute;n</label>
        <input [HasError]="errorNombre" [submitted]="true" class="form-control" formControlName="nombre" maxlength="100" uppercase/>
        <div #errorNombre></div>
    </div>
</div>