<strong>V&iacute;a Generadora - Malla Vial</strong>
<div class="row bordered margen" [formGroup]="formulario">    
    <div class="col-lg-2 col-md-2 form-group">
        <label>V&iacute;a generadora</label>
        <input class="form-control" formControlName="nombre" maxlength="3" uppercase OnlyNumber/>
    </div>
    <div class="col-lg-2 col-md-2 form-group">
        <label>Letra v&iacute;a generadora</label>
        <input class="form-control" formControlName="letraVia" maxlength="3" uppercase/>
    </div>
    <div class="col-lg-2 col-md-2 form-group">
        <label>Sufijo</label>
        <ng-select [items]="Sufijos" bindLabel="nombre" [compareWith]="comparador" class="fontSize11" formControlName="sufijo"></ng-select>
    </div>
    <div class="col-lg-2 col-md-2 form-group">
        <label>Letra sufijo</label>
        <input class="form-control" formControlName="letraSufijo" maxlength="3" uppercase/>
    </div>
    <div class="col-lg-2 col-md-2 form-group">
        <label>N&uacute;mero placa</label>
        <input class="form-control" formControlName="numeroPlaca" maxlength="3" OnlyNumber/>
    </div>
    <div class="col-lg-2 col-md-2 form-group">
        <label>Cuadrante</label>
        <ng-select [items]="Cuadrantes" bindLabel="nombre" [compareWith]="comparador" class="fontSize11" formControlName="cuadrante"></ng-select>
    </div>
</div>